body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #E9E9E9;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    font-size: 18px;
}

header p {
    font-weight: bold;
    padding-left: 20px;
}

header p {
    text-decoration: none;
    color: #000000; 
}

header p:hover {
    text-decoration: underline;
    color: #708628;
}

header nav p {
    color: #000000;
}

header nav p:hover {
    color: #708628;
}



header a {
    text-decoration: none;
    color: #000000; 
}

header a:hover {
    text-decoration: underline;
    color: #708628;
}

header nav a {
    color: #000000;
}

header nav a:hover {
    color: #708628;
}

header .off-screen-menu ul {
    list-style: none;
    font-weight: bold;
    display: flex;
    gap: 20px;
}



.hero {
    background-color: #A7DB02;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero h1 {
    font-size: 48px;
    color: #ffffff;
}

.hero p {
    font-size: 32px;
    font-weight: normal;
    color: #0a0a0a;
}

.green-square {
    padding: 32px 30px;
}

.green-square {
    display: flex;
    align-items: center;
}

.content {
    max-width: 1200px;
    margin: 64px auto;
    padding: 0 16px;
}

.content p {
    line-height: 1.4;
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.text p {
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 1.2rem;
    line-height: 1.3;
    
}

.text div {
    grid-column-start: 2;
}

.text h4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 30px;
    margin-bottom: 1.2rem;
    line-height: 1.3;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-link {
    display: inline-block;
    padding: 18px 24px; 
    font-size: 24px; 
    color: white;
    background-color: #A7DB02;
    text-decoration: none;
    border-radius: 30px; 
    margin-right: 170px; 
    margin-top: 70px;
}

.button{
    display: inline-block;
    padding: 18px 24px; 
    font-size: 24px; 
    color: white;
    background-color: #A7DB02;
    text-decoration: none;
    border-radius: 30px; 
    margin-right: 2px; 
    margin-top: 7px;

}

.button:hover{
    background-color: #050505;
}

.button-link:hover {
    background-color: #050505;
}

.tipologie {
    margin-top: 25px;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
}

.tipologia {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    
    
}

.tipologia img {
    width: 400px; 
    height: auto; 
    margin-top: 90px;
    
   
    
}

.tipologia ul {
    list-style: none; 
    font-weight: bold;
    padding: 15px; 
    margin-top: 0px; 
    color: #fff; border-radius: 50px;
}

.tipologia ul li a {
    color: white; 
    text-decoration: none; 
}

.fasi {
    max-width: 1200px;
    margin: 64px auto;
    padding: 0 20px;
}

.fasi div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 64px 0;
    gap: 16px;
}

.fasi h3 {
    font-size: 24px;
    margin-bottom: 1.2rem;
    line-height: 1.3;
    
}

.fasi p {
    font-size: 21px;
    
}

.epoche {
    max-width: 1200px;
    margin: 64px auto;
    padding: 0 20px;
}

.epoche div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 64px 0;
    gap: 16px;
}

.epoche h3 {
    margin-bottom: 1.4rem;
    font-size: 24px;
    margin-bottom: 1.2rem;
    line-height: 1.3;
}

.epoche p {
    font-size: 21px;
    
}

.avviso {
    border-radius: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
    padding: 120px;
    border-radius: 15px;
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
    

}

.avviso h5 {
    margin-bottom: 1.4rem;
    font-size: 32px;
    color: #000000;
}

.avviso p {
    font-size: 21px;
}

.team {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 70px; 
}

.team1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.team1 img {
    width: 200px;
    height: auto;
}

.team1 ul {
    list-style: none;
    font-weight: bold;
    padding: 15px;
    margin-top: 2px;
    color: #000000;
    border-radius: 50px;
}

.team1 ul li a {
    color: white;
    text-decoration: none;
}

.team1 ul li a:hover {
    color: black;
}

footer {
    background-color: #E9E9E9;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    
}

footer p {
    font-weight: bold;
    padding-left: 20px;
    text-decoration: none;
    color: #000000; 
    padding: 35px;
}

footer nav p {
    color: #000000;
}

footer nav p:hover {
    color: #708628;
}

footer nav ul {
    padding-right: 20px;
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 30px;
}

footer a {
    text-decoration: none;
    color: #000000; 
}

footer a:hover {
    text-decoration: underline;
    color: #708628;
}

footer nav a {
    color: #000000;
}

footer nav a:hover {
    color: #708628;
}

@media screen and (max-width: 600px) {
    header {
        font-size: 14px;
        align-items: center;
    }

    header p {
        padding-left: 15px;
    }

    header nav {
        align-items: flex-end;
    }

    header nav ul {
        gap: 12px;
    }

    header .off-screen-menu ul {
        list-style: none;
        font-weight: bold;
        display: flex;
        gap: 6px;
    }
    .contenitore{
        display: grid;
    }
    
    .off-screen-menu {
        background-color: #E9E9E9;
        max-width: 450px;
        top: 0;
        display: none;
        margin: auto;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        position:inherit;
        top: 44px;
        right: 0;
    }
    
    .off-screen-menu.active {
        display: grid;
        align-items: center;
        grid-row: 2;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 6px;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    
    .container .off-screen-menu{
        grid-row: 2;
    } 
    
    nav {
        background-color: #E9E9E9;
        align-self: flex-end;
        margin-top: 12px;
        margin-bottom: 12px;
        display: flex;
        flex-direction:row-reverse;
    }
    
    
    .ham-menu {
        height: 30px;
        width: 30px;
        position: relative;
    }
    
    .ham-menu:hover{
        cursor: pointer;;
    }
    
    .ham-menu span {
        height: 3px;
        width: 70%;
        background-color: #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    
    .ham-menu span:nth-child(1) {
        top: 25%;
    }
    
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    
    .ham-menu.active span {
        background-color: rgb(0, 0, 0);
    }
    
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }
    
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .text {
        grid-template-columns: 1fr;
        gap: 16px;
    
    }

    .text div {
        grid-column-start: 1;
        
    }

    .text p{
        font-size: 16px;
        margin-bottom: 0.5rem;
    }

.fasi p{
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.epoche p{
    font-size: 16px;
    margin-bottom: 0.5rem;
}
    .hero {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 25px;
    }

    .tipologie {
        flex-direction: column;
        align-items: center;
    }

    .tipologia {
        margin: 20px 0;
    }

    .button-container {
        justify-content: center;
        text-align: center;
        border-radius: 30px; 
    }

    .button-link {
        padding: 10px 30px;
        font-size: 17px;
        margin-right: 70px;
        margin: auto;
    }

    .fasi div,
    .epoche div {
        grid-template-columns: 1fr;
        
    }
  .avviso{
    border: 2px solid #000;
    padding: 30px;
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 80%;
    margin: 20px auto;

  }
  }
    .content {
        max-width: 100%;
    }

    footer {
        padding: 10px;
    }

    footer nav {
        flex-direction: column;
        align-items: flex-end;
    }

    footer nav ul {
        flex-direction: column;
        gap: 20px;
    }
